<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="chat-room">
    <div class="col-md-3">
      <div class="row">
        <div class="chat-left">
          <div class="chat-header">
            <p>Username</p>
          </div>
          <div class="chat-users">
              <ul class="chat-list">
                <li>
                  <a>User 1</a>
                  
                </li>
                <li>
                    <a>User 2</a>
                    <span class="counter">
                        2
                      </span>
                  </li>
                  <li>
                      <a>User 3</a>
                      <span class="counter">
                        2
                      </span>
                    </li>

              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="chat-right">
          <div class="chat-header">
            <p class="chat-user-name">
              
              Username</p>
            <p class="chat-user-status">Online</p>
          </div>
          <div class="chat-body">
            <ul class="chat-list">
              <li>
                  <div class="media chat-msg-left">
                    <div class="media-left">
                      <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:30px">
                    </div>
                    <div class="media-body arrow_box">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                  </div>
              </li>
              <li>
                  <div class="media chat-msg-right">
                    
                    <div class="media-body arrow_box">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <div class="media-right">
                        <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:30px">
                      </div>
                  </div>
              </li>
              <li>
                  <div class="media chat-msg-left">
                    <div class="media-left">
                      <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:30px">
                    </div>
                    <div class="media-body arrow_box">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                  </div>
              </li>
              <li>
                  <div class="media chat-msg-right">
                    
                    <div class="media-body arrow_box">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <div class="media-right ">
                        <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:30px">
                      </div>
                  </div>
              </li>
              <li>
                  <div class="media chat-msg-left">
                    <div class="media-left">
                      <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:30px">
                    </div>
                    <div class="media-body arrow_box">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                  </div>
              </li>
              <li>
                  <div class="media chat-msg-left">
                    <div class="media-left">
                      <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:30px">
                    </div>
                    <div class="media-body arrow_box">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                  </div>
              </li>
            </ul>
          </div>
          <div class="chat-footer">
            <div class="row">
              <div class="col-md-10 pr0">
                <div class="input-group">
                  <input type="text" class="form-control">
                  <div class="input-group-btn dropup">
                     
                      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                        <i class="fa fa-cog"></i> <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                          <li>
                            <div class="radio">
                              <label><input type="radio" name="optradio">Option 1</label>
                            </div>
                            <div class="radio">
                              <label><input type="radio" name="optradio">Option 2</label>
                            </div>
                          </li>
                          
                        </ul>
                    </div>
                </div>
              </div>
              <div class="col-md-2">
                <button class="btn btn-info">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="col-md-2"></div>