.chat-room {
    height: 600px;
    border: 1px solid #B1B1B1;
}
.chat-left {
    height: 599px;
    background: #ddd;
    border-right: 1px solid #B1B1B1;
    border-bottom: 1px solid #b1b1b1;
}
a:hover{
    text-decoration: inherit;
    cursor: pointer;
}
.chat-users{
   
}
.chat-header, .chat-footer{
    background: #ddd;
    border-bottom: 1px solid #B1B1B1;
    padding: 5px;
    text-align: center;
   
}
ul.dropdown-menu.dropdown-menu-right li {
    padding-left: 15px;
}
.chat-header{
    height: 60px;
}
.chat-footer{
    padding: 5px 15px;
}
.chat-user-name {
    margin-bottom: 5px;
    font-size: 18px;
}
.chat-user-status{
    margin-bottom: 0px;
    font-size: 12px;
}
.pr0{
    padding-right: 0px !important;
}
.chat-body {
    height: 494px;
    border-bottom: 1px solid #B1B1B1;
    overflow: auto;
    padding: 10px;
}
.media-body {
    background: #ddd;
    border: 1px solid #B1B1B1;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 12px;
}
ul.chat-list {
    padding: 0px;
    list-style: none;
}ul.chat-list li{
    width: 100%;
    display: inline-block;
    position: relative;
}
ul.chat-list li a{
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #B1B1B1;
    display: inline-block;
}
.counter{
    position: absolute;
    right: 15px;
    top: 9px;
    width: 20px;
    height: 20px;
    border: 1px solid #F57E7E;
    border-radius: 50px;
    font-size: 11px;
    text-align: center;
    background: #F57E7E;
    color: #fff;
    padding: 2px;
}
.media-object {
    display: block;
    border-radius: 50px;
}
.chat-msg-left {
    float: left;
    width: 70%;
    height: auto;
}
.chat-msg-right {
    float: right;
    width: 70%;
    height: auto;
}
.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #88b7d5;
    border-width: 30px;
    margin-top: -30px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 36px;
    margin-top: -36px;
}
.dropdown-menu{
		min-width: 250px;
}